# Formato: postgresql://USUARIO_ADMIN:CLAVE_ADMIN@HOST:PUERTO/BASE?schema=public
DATABASE_URL="postgresql://postgres:TU_CLAVE_ADMIN_POSTGRES@localhost:5432/retro_remeras?schema=public"
AUTH_JWT_SECRET="cambiar-por-una-clave-super-segura"
ADMIN_EMAIL="admin@retroremeras.com"
ADMIN_PASSWORD="Admin123456"
